/* .login {
	box-shadow: 0px 0px #3f3d56;
}

.login:hover {
	animation: shadowHover 2000ms ease-in-out 0s infinite;
}

@keyframes shadowHover {
	0% {
		box-shadow: 0px 0px #e98659;
	}
	50% {
		box-shadow: 0px 0px 0px 5px #e98659;
	}
	100% {
		box-shadow: 0px 0px #e98659;
	}
} */
