@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
	--white: #ffffff;
	--orange: #ff791a;
	--green: #5bc7a5;
}

body {
	/* width: 1280px; */
	margin: 0;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
