/* .desktop {
	width: 1200px;
	height: min-content;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #ffffff;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	align-content: center;
	flex-wrap: nowrap;
	gap: 0;
	position: absolute;
	border-radius: 0px 0px 0px 0px;
} */

.hero {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: min-content; /* 670px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 100px 100px 100px 100px;
	background-color: #073b4c;
	min-height: 600px;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 100px;
	border-radius: 0px 0px 0px 0px;
}

.container {
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 470px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	overflow: hidden;
	position: relative;
	padding: 0px 0px 0px 0px;
	align-content: center;
	flex-wrap: nowrap;
	gap: 60px;
	border-radius: 0px 0px 0px 0px;
}

.contentLeft {
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 387px */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 800px;
	overflow: hidden;
	position: relative;
	padding: 0px 0px 0px 0px;
	align-content: flex-start;
	flex-wrap: nowrap;
	gap: 20px;
	border-radius: 0px 0px 0px 0px;
}

.logoContainer {
	box-sizing: border-box;
	flex-shrink: 0;
	width: min-content; /* 158px */
	height: min-content; /* 39px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px 10px 20px;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 10px;
	border-radius: 100px;
	border: 1px solid #06d6a0;
}

.projectTracker {
	flex-shrink: 0;
	width: auto; /* 118px */
	height: auto; /* 19px */
	white-space: pre;
	position: relative;
	font-weight: 700;
	font-style: normal;
	font-family: 'Manrope', 'Manrope Placeholder', sans-serif;
	color: #06d6a0;
	font-size: 16px;
	letter-spacing: 0em;
	line-height: 1.2;
	text-align: left;
}

.tagline {
	flex-shrink: 0;
	width: 100%;
	height: auto; /* 264px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	z-index: 1;
	position: relative;
	font-weight: 400;
	font-style: normal;
	font-family: 'Unica One', sans-serif;
	color: #06d6a0;
	font-size: 80px;
	letter-spacing: 0em;
	line-height: 1.1;
	text-align: left;
}

.tryButton {
	box-sizing: border-box;
	flex-shrink: 0;
	width: min-content; /* 114px */
	height: min-content; /* 44px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px 10px 20px;
	background-color: #ef476f;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 10px;
	border-radius: 9999px;
	cursor: pointer;
}

.tryButton:hover {
	opacity: 0.9;
	transition: all 500ms ease-out;
}

.tryButtonText {
	flex-shrink: 0;
	width: auto; /* 74px */
	height: auto; /* 24px */
	white-space: pre;
	overflow: visible;
	position: relative;
	font-weight: 700;
	font-style: normal;
	font-family: 'Manrope', 'Manrope Placeholder', sans-serif;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0em;
	line-height: 1.5;
	text-align: left;
}

.contentRight {
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 470px */
	display: grid;
	overflow: hidden;
	position: relative;
	grid-template-columns: repeat(3, minmax(20px, 1fr));
	justify-content: center;
	grid-auto-rows: min-content;
	grid-template-rows: repeat(2, min-content);
	padding: 0px;
	gap: 20px;
}

.blobTopLeft {
	flex-shrink: 0;
	/* width: 396px; */
	height: 143px;
	display: block;
	background-color: #ef476f;
	overflow: hidden;
	position: relative;
	grid-column: auto / span 2;
	justify-self: start;
	align-self: start;
	aspect-ratio: 2.1433566433566433 / 1;
	border-radius: 0px 200px 0px 200px;
}

.imgTopRight {
	flex-shrink: 0;
	height: 143px;
	display: block;
	/* -webkit-filter: grayscale(1); */
	/* filter: grayscale(1); */
	/* mix-blend-mode: luminosity; */
	overflow: hidden;
	position: relative;
	justify-self: start;
	align-self: start;
	aspect-ratio: 1 / 1;
	background-image: url('../images/nubelson-fernandes.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 200px 200px 0px 200px;
}

.imgCenterLeft {
	flex-shrink: 0;
	height: 144px;
	display: block;
	/* -webkit-filter: grayscale(1); */
	/* filter: grayscale(1); */
	/* mix-blend-mode: luminosity; */
	overflow: hidden;
	position: relative;
	justify-self: start;
	align-self: start;
	aspect-ratio: 1 / 1;
	background-image: url('../images/nathan-dumlao.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 200px 200px 200px;
}

.blobCenter {
	flex-shrink: 0;
	height: 144px;
	display: block;
	background-color: #ef476f;
	overflow: hidden;
	position: relative;
	justify-self: start;
	align-self: start;
	aspect-ratio: 1 / 1;
	border-radius: 0px 0px 0px 0px;
}

.imgCenterRight {
	flex-shrink: 0;
	height: 144px;
	display: block;
	/* -webkit-filter: grayscale(1); */
	/* filter: grayscale(1); */
	/* mix-blend-mode: luminosity; */
	overflow: hidden;
	position: relative;
	justify-self: start;
	align-self: start;
	aspect-ratio: 1 / 1;
	background-image: url('../images/james-harrison.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 0px 0px 200px;
}

.blobBottomLeft {
	flex-shrink: 0;
	height: 144px;
	display: block;
	background-color: #ef476f;
	overflow: hidden;
	position: relative;
	justify-self: start;
	align-self: start;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
}

.imgBottomRight {
	flex-shrink: 0;
	height: 144px;
	display: block;
	/* -webkit-filter: grayscale(1); */
	/* filter: grayscale(1); */
	/* mix-blend-mode: luminosity; */
	overflow: hidden;
	position: relative;
	grid-column: auto / span 2;
	justify-self: start;
	align-self: start;
	aspect-ratio: 2.1358885017421603 / 1;
	background-image: url('../images/desola-lanre-ologun.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 200px 200px 0px 200px;
}
