@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap');
.homeContainer {
	width: 100%;
	height: min-content;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #ffffff;
	overflow: hidden;
	padding: 0px;
	align-content: center;
	flex-wrap: nowrap;
	gap: 0px;
	position: absolute;
	border-radius: 0px;
}

/* BEGIN HERO STYLES */
.hero {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: calc(100vh - 64px);
	/* height: min-content; 670px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 100px 100px 100px 100px;
	background-color: #073b4c;
	min-height: 600px;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 100px;
	border-radius: 0px 0px 0px 0px;
}

.container {
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 470px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	overflow: hidden;
	position: relative;
	padding: 0px 0px 0px 0px;
	align-content: center;
	flex-wrap: nowrap;
	gap: 60px;
	border-radius: 0px 0px 0px 0px;
}

.contentLeft {
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 387px */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 800px;
	overflow: hidden;
	position: relative;
	padding: 0px 0px 0px 0px;
	align-content: flex-start;
	flex-wrap: nowrap;
	gap: 20px;
	border-radius: 0px 0px 0px 0px;
}

.logoContainer {
	box-sizing: border-box;
	flex-shrink: 0;
	width: min-content; /* 158px */
	height: min-content; /* 39px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px 10px 20px;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 10px;
	border-radius: 100px;
	border: 1px solid #06d6a0;
}

.projectTracker {
	flex-shrink: 0;
	width: auto; /* 118px */
	height: auto; /* 19px */
	white-space: pre;
	position: relative;
	font-weight: 700;
	font-style: normal;
	font-family: 'Manrope', 'Manrope Placeholder', sans-serif;
	color: #06d6a0;
	font-size: 16px;
	letter-spacing: 0em;
	line-height: 1.2;
	text-align: left;
}

.tagline {
	flex-shrink: 0;
	width: 100%;
	height: auto; /* 264px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	z-index: 1;
	position: relative;
	font-weight: 400;
	font-style: normal;
	font-family: 'Unica One', sans-serif;
	color: #06d6a0;
	font-size: 80px;
	letter-spacing: 0em;
	line-height: 1.1;
	text-align: left;
}

.tryButton {
	box-sizing: border-box;
	flex-shrink: 0;
	width: min-content; /* 114px */
	height: min-content; /* 44px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px 10px 20px;
	background-color: #ef476f;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 10px;
	border-radius: 9999px;
	cursor: pointer;
}

.tryButton:hover {
	opacity: 0.9;
	transition: all 500ms ease-out;
}

.tryButtonText {
	flex-shrink: 0;
	width: auto; /* 74px */
	height: auto; /* 24px */
	white-space: pre;
	overflow: visible;
	position: relative;
	font-weight: 700;
	font-style: normal;
	font-family: 'Manrope', 'Manrope Placeholder', sans-serif;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0em;
	line-height: 1.5;
	text-align: left;
}

.contentRight {
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 470px */
	display: grid;
	overflow: hidden;
	position: relative;
	grid-template-columns: repeat(3, minmax(20px, 1fr));
	justify-content: center;
	grid-auto-rows: min-content;
	grid-template-rows: repeat(2, min-content);
	padding: 0px;
	gap: 20px;
}

.blobTopLeft {
	flex-shrink: 0;
	/* width: 396px; */
	height: 143px;
	display: block;
	background-color: #ef476f;
	overflow: hidden;
	position: relative;
	grid-column: auto / span 2;
	justify-self: start;
	align-self: start;
	aspect-ratio: 2.1433566433566433 / 1;
	border-radius: 0px 200px 0px 200px;
}

.imgTopRight {
	flex-shrink: 0;
	height: 143px;
	display: block;
	/* -webkit-filter: grayscale(1); */
	/* filter: grayscale(1); */
	/* mix-blend-mode: luminosity; */
	overflow: hidden;
	position: relative;
	justify-self: start;
	align-self: start;
	aspect-ratio: 1 / 1;
	background-image: url('../images/nubelson-fernandes.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 200px 200px 0px 200px;
}

.imgCenterLeft {
	flex-shrink: 0;
	height: 144px;
	display: block;
	/* -webkit-filter: grayscale(1); */
	/* filter: grayscale(1); */
	/* mix-blend-mode: luminosity; */
	overflow: hidden;
	position: relative;
	justify-self: start;
	align-self: start;
	aspect-ratio: 1 / 1;
	background-image: url('../images/nathan-dumlao.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 200px 200px 200px;
}

.blobCenter {
	flex-shrink: 0;
	height: 144px;
	display: block;
	background-color: #ef476f;
	overflow: hidden;
	position: relative;
	justify-self: start;
	align-self: start;
	aspect-ratio: 1 / 1;
	border-radius: 0px 0px 0px 0px;
}

.imgCenterRight {
	flex-shrink: 0;
	height: 144px;
	display: block;
	/* -webkit-filter: grayscale(1); */
	/* filter: grayscale(1); */
	/* mix-blend-mode: luminosity; */
	overflow: hidden;
	position: relative;
	justify-self: start;
	align-self: start;
	aspect-ratio: 1 / 1;
	background-image: url('../images/james-harrison.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 0px 0px 200px;
}

.blobBottomLeft {
	flex-shrink: 0;
	height: 144px;
	display: block;
	background-color: #ef476f;
	overflow: hidden;
	position: relative;
	justify-self: start;
	align-self: start;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
}

.imgBottomRight {
	flex-shrink: 0;
	height: 144px;
	display: block;
	/* -webkit-filter: grayscale(1); */
	/* filter: grayscale(1); */
	/* mix-blend-mode: luminosity; */
	overflow: hidden;
	position: relative;
	grid-column: auto / span 2;
	justify-self: start;
	align-self: start;
	aspect-ratio: 2.1358885017421603 / 1;
	background-image: url('../images/desola-lanre-ologun.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 200px 200px 0px 200px;
}
/* END HERO STYLES */

/* BEGIN TRUSTED SECTION STYLES */
.trustedContainer {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 40px 100px 40px;
	background-color: #ffffff;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 15px;
	border-radius: 0px 0px 0px 0px;
}

.trustedBy {
	flex-shrink: 0;
	width: auto; /* 200px */
	height: auto; /* 60px */
	white-space: pre;
	overflow: visible;
	position: relative;
	font-weight: 400;
	font-style: normal;
	font-family: 'Unica One', sans-serif;
	color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
	font-size: 50px;
	letter-spacing: -2.1px;
	line-height: 1.2;
	text-align: left;
}

.companiesContainer {
	flex-shrink: 0;
	width: 1000px;
	height: min-content; /* 46px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	overflow: visible;
	position: relative;
	padding: 0px 0px 0px 0px;
	align-content: center;
	flex-wrap: wrap;
	gap: 60px;
	border-radius: 0px 0px 0px 0px;
}

.companyOne {
	flex-shrink: 0;
	width: 136px;
	height: 46px;
	display: block;
	overflow: hidden;
	position: relative;
	aspect-ratio: 2.9565217391304346 / 1;
	background-image: url('../images/logoipsum-220.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 0px 0px 0px;
}
.companyTwo {
	flex-shrink: 0;
	width: 136px;
	height: 46px;
	display: block;
	overflow: hidden;
	position: relative;
	aspect-ratio: 2.9565217391304346 / 1;
	background-image: url('../images/logoipsum-260.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 0px 0px 0px;
}

.companyThree {
	flex-shrink: 0;
	width: 136px;
	height: 46px;
	display: block;
	overflow: hidden;
	position: relative;
	aspect-ratio: 2.9565217391304346 / 1;
	background-image: url('../images/logoipsum-285.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 0px 0px 0px;
}

.companyFour {
	flex-shrink: 0;
	width: 136px;
	height: 46px;
	display: block;
	overflow: hidden;
	position: relative;
	aspect-ratio: 2.9565217391304346 / 1;
	background-image: url('../images/logoipsum-297.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 0px 0px 0px;
}
/* END TRUSTED SECTION STYLES */

/* BEGIN INFO SECTION STYLES */
.infoContainer {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: min-content; /* 464px */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 100px;
	background-color: #ffffff;
	overflow: visible;
	position: relative;
	/* align-content: center; */
	flex-wrap: nowrap;
	gap: 20px;
	border-radius: 0px;
}

.infoContent {
	flex-shrink: 0;
	width: 100%;
	height: min-content; /* 264px */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 1000px;
	overflow: visible;
	z-index: 1;
	position: relative;
	padding: 0px;
	/* align-content: flex-start; */
	flex-wrap: nowrap;
	gap: 40px;
	border-radius: 0px;
}

.infoHeading {
	flex-shrink: 0;
	width: 100%;
	height: auto; /* 58px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	overflow: visible;
	z-index: 1;
	position: relative;
	font-weight: 400;
	font-style: normal;
	font-family: 'Unica One', sans-serif;
	color: #000000;
	font-size: 48px;
	letter-spacing: 0em;
	line-height: 1.2;
	text-align: left;
}

.paragraphContainer {
	flex-shrink: 0;
	width: 100%;
	height: min-content; /* 166px */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	overflow: hidden;
	z-index: 1;
	position: relative;
	padding: 0px 0px 0px 0px;
	/* align-content: center; */
	flex-wrap: nowrap;
	gap: 40px;
	border-radius: 0px 0px 0px 0px;
}

.paragraphText {
	flex-shrink: 0;
	width: 100%;
	height: auto; /* 166px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	overflow: visible;
	position: relative;
	font-weight: 400;
	font-style: normal;
	font-family: 'Manrope', 'Manrope Placeholder', sans-serif;
	color: #000000;
	font-size: 32px;
	letter-spacing: -0.05em;
	line-height: 1.3;
	text-align: left;
}

.infoDecoration {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 780px;
	height: 409px;
	display: block;
	overflow: hidden;
	opacity: 0.3;
	transform: rotate(134deg);
	z-index: 0;
	position: absolute;
	border-radius: 100%;
	border: 1px solid #000000;
}
/* END INFO SECTION STYLES */

/* BEGIN TESTIMONIALS STYLES */
.testimonialsContainer {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: min-content; /* 700px */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 200px;
	background-color: #ffffff;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 0px;
	border-radius: 0px;
}

.testimonialsContent {
	flex-shrink: 0;
	width: 100%;
	height: min-content; /* 500px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	overflow: hidden;
	position: relative;
	padding: 0px 0px 0px 0px;
	align-content: center;
	flex-wrap: nowrap;
	gap: 20px;
	border-radius: 0px 0px 0px 0px;
}

.testimonialsCardLeft {
	box-sizing: border-box;
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 500px */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 40px 40px 40px;
	background-color: #f2f2f2;
	min-height: 500px;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 40px;
	border-radius: 40px 200px 200px 200px;
}

.testimonialsText {
	flex-shrink: 0;
	width: 100%;
	height: auto; /* 96px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	overflow: visible;
	position: relative;
	font-weight: 700;
	font-style: normal;
	font-family: 'Manrope', 'Manrope Placeholder', sans-serif;
	color: #073b4c;
	font-size: 20px;
	letter-spacing: -0.025em;
	line-height: 1.2;
	text-align: center;
}

.testimonialsClient {
	flex-shrink: 0;
	width: auto; /* 68px */
	height: auto; /* 24px */
	white-space: pre;
	overflow: visible;
	position: relative;
	/* font-weight: 500; */
	font-style: normal;
	font-family: 'Manrope', sans-serif;
	color: #000000;
	font-size: 16px;
	letter-spacing: 0em;
	line-height: 1.5;
	text-align: center;
}

.testimonialsCardRight {
	box-sizing: border-box;
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 500px */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 40px 40px 40px;
	background-color: #f2f2f2;
	min-height: 500px;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 40px;
	border-radius: 200px 200px 200px 40px;
}
/* END TESTIMONIALS STYLES */

/* BEGIN FEATURES STYLES */
.featuresContainer {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: min-content; /* 630px */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 100px 100px 100px;
	background-color: #ffffff;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 40px;
	border-radius: 0px;
}

.featuresHeading {
	flex-shrink: 0;
	width: min-content; /* 682px */
	height: min-content; /* 172px */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	position: relative;
	padding: 0px;
	align-content: center;
	flex-wrap: nowrap;
	gap: 40px;
	border-radius: 0px;
}

.featuresTitle {
	flex-shrink: 0;
	width: auto; /* 682px */
	height: auto; /* 58px */
	white-space: pre;
	position: relative;
	font-weight: 400;
	font-style: normal;
	font-family: 'Unica One', sans-serif;
	color: #000000;
	font-size: 48px;
	letter-spacing: 0em;
	line-height: 1.2;
}

.featuresSubtitle {
	flex-shrink: 0;
	width: auto;
	height: auto; /* 74px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	align-self: stretch;
	position: relative;
	font-weight: 400;
	font-style: normal;
	font-family: 'Manrope', 'Manrope Placeholder', sans-serif;
	color: #000000;
	font-size: 31px;
	letter-spacing: 0em;
	line-height: 1.2;
	text-align: center;
}

.featureCardContainer {
	flex-shrink: 0;
	width: 100%;
	height: min-content; /* 218px */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	overflow: visible;
	position: relative;
	padding: 0px;
	align-content: center;
	flex-wrap: nowrap;
	gap: 24px;
	border-radius: 0px;
}

.featureCard {
	box-sizing: border-box;
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 218px */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 2px;
	overflow: visible;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 10px;
	border-radius: 19px;
}

.featureCardContent {
	box-sizing: border-box;
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: 214px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 25px 25px 25px 25px;
	background-color: #f2f2f2;
	overflow: visible;
	position: relative;
	align-content: flex-start;
	flex-wrap: nowrap;
	gap: 10px;
	border-radius: 17px;
}

.featureCardMain {
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 161px */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: visible;
	position: relative;
	padding: 0px 0px 0px 0px;
	align-content: flex-start;
	flex-wrap: nowrap;
	gap: 20px;
	border-radius: 0px 0px 0px 0px;
}

.featureCardHeading {
	flex-shrink: 0;
	width: min-content; /* 222px */
	height: min-content; /* 60px */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	overflow: visible;
	position: relative;
	padding: 0px 0px 0px 0px;
	align-content: center;
	flex-wrap: nowrap;
	gap: 20px;
	border-radius: 0px 0px 0px 0px;
}

.featureCardTitle {
	flex-shrink: 0;
	width: 162px;
	height: auto; /* 22px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	overflow: visible;
	position: relative;
	font-weight: 700;
	font-style: normal;
	font-family: 'DM Sans', 'DM Sans Placeholder', sans-serif;
	color: #000000;
	font-size: 22px;
	letter-spacing: -1px;
	line-height: 1;
	text-align: left;
}

.featureCardText {
	flex-shrink: 0;
	width: 100%;
	height: auto; /* 81px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	overflow: hidden;
	position: relative;
	opacity: 0.8;
	font-weight: 700;
	font-style: normal;
	font-family: 'DM Sans', 'DM Sans Placeholder', sans-serif;
	color: #073b4c;
	font-size: 18px;
	letter-spacing: 0em;
	line-height: 1.5;
	text-align: left;
}
/* END FEATURES STYLES */

/* BEGIN FAQS STYLES */
.faqContainer {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	height: min-content; /* 386px */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px;
	background-color: #ffffff;
	overflow: hidden;
	position: relative;
	align-content: center;
	flex-wrap: nowrap;
	gap: 40px;
	border-radius: 0px;
}

.faqHeading {
	flex-shrink: 0;
	width: 100%;
	height: auto; /* 58px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	max-width: 1000px;
	overflow: visible;
	position: relative;
	font-weight: 400;
	font-style: normal;
	font-family: 'Unica One', sans-serif;
	color: #000000;
	font-size: 48px;
	letter-spacing: 0em;
	line-height: 1.2;
	text-align: center;
}

.faqQuestionsContainer {
	flex-shrink: 0;
	width: 100%;
	height: min-content; /* 88px */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	max-width: 1000px;
	overflow: hidden;
	position: relative;
	padding: 0px;
	align-content: flex-start;
	flex-wrap: nowrap;
	gap: 100px;
	border-radius: 0px;
}

.faqQuestion {
	flex-shrink: 0;
	flex: 1 0 0px;
	width: 1px;
	height: min-content; /* 88px */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 100%;
	overflow: visible;
	position: relative;
	padding: 0px;
	align-content: flex-start;
	flex-wrap: nowrap;
	gap: 10px;
	border-radius: 0px;
}

.faqQuestionTitle {
	flex-shrink: 0;
	width: 100%;
	height: auto; /* 30px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	overflow: visible;
	position: relative;
	font-weight: 700;
	font-style: normal;
	font-family: 'Manrope', 'Manrope Placeholder', sans-serif;
	color: #000000;
	font-size: 20px;
	letter-spacing: -0.025em;
	line-height: 1.5;
	text-align: left;
}

.faqQuestionText {
	flex-shrink: 0;
	width: 100%;
	height: auto; /* 48px */
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	max-width: 400px;
	overflow: visible;
	position: relative;
	font-weight: 500;
	font-style: normal;
	font-family: 'Manrope', sans-serif;
	color: #000000;
	font-size: 16px;
	letter-spacing: 0em;
	line-height: 1.5;
	text-align: left;
}
/* END FAQS STYLES */
