@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap');
:root {
	--offWhite: #f2f2f2;
	--primary: #073b4c;
	--secondary: #06d6a0;
	--accent: #ef476f;
	--blackText: #3f3d56;
}

.timeDate {
	text-align: center;
	font-size: 36px;
	font-family: 'Unica One', sans-serif;
}

.savedProjectsBody {
	/* background-color: white; */
	height: 100vh;
}

.button {
	background-color: var(--accent);
	color: var(--offWhite);
	border: 2px solid var(--accent);
	border-radius: 18px;
	font-weight: bold;
	padding: 4px 16px;
	transition: all ease-in 150ms;
}

.button:hover {
	filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
		drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
	scale: 1.05;
	transition: all 150ms ease-out;
}

.projectsHead {
	background: var(--primary);
	height: 5rem;
	z-index: 1;
}

.tableContainer::after {
	content: '';
	height: 400px;
	width: 215px;
	opacity: 0.3;
	transform: rotate(134deg);
	border-radius: 100%;
	position: absolute;
	top: 17px;
	left: 0px;
	z-index: -1;
	border: 1px solid #000000;
}

select option:hover {
	background-color: #06d6a0;
	color: #f2f2f2;
}
